body {
  margin: 0px;
  padding: 0px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: rgb(29, 29, 31);
}

#navbarContainer {
  position: fixed;
  height: 44px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 251, 253, 0.8);
}
#navbarMenu {
  width: 68%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: rgb(0, 0, 0, 0.8);
}
.icon {
  padding-top: 6px;
}
#bannerContainer {
  padding-top: 45px;
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(29, 29, 31);
}
#bannerShopText {
  color: #06c;
}
#videoContainer {
  height: 80vh;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#videoContainerText {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 100px;
  color: rgb(245, 245, 247);
}
#videoContainerTitle {
  font-size: 45px;
  font-weight: 600;
  line-height: 40px;
  height: 1px;
  width: 1px;
  letter-spacing: -0.374px;
  font-style: normal;
}
/* imagesection1 */

#image1Container {
  height: 80vh;
  background-size: cover;
  background-image: url(https://www.apple.com/v/home/bc/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg);
  width: 100vw;
  position: relative;
  background-position: center;
}
#image1ContainerText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#textRow14Pro {
  color: rgb(245, 245, 247);
  font-size: 56px;
  line-height: 60px;
  width: 1440px;
  letter-spacing: -0.28px;
  font-weight: 600;
  text-align: center;
}
#textRowPro {
  color: rgb(245, 245, 247);
  font-size: 28px;
  font-weight: 400;
  line-height: 31.0022px;
  width: 1440px;
  text-align: center;
  margin-top: -25px;
}
#textRow3 {
  color: rgb(41, 151, 255);
  font-size: 21px;
  font-weight: 400;
  line-height: 29.001px;
}
#textRow3sub {
  margin-left: 50px;
}

/* imagesection2 */

#image2Container {
  height: 80vh;
  width: 100vw;
  background-size: cover;
  background-image: url(https://www.apple.com/v/home/bc/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
  position: relative;
  background-position: center;
}
#image2ContainerText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#textRow14 {
  color: rgb(29, 29, 31);
  font-size: 56px;
  line-height: 60px;
  width: 1440px;
  letter-spacing: -0.28px;
  font-weight: 600;
  text-align: center;
}
#textRowWonderfull {
  color: rgb(29, 29, 31);
  font-size: 28px;
  font-weight: 400;
  line-height: 31.0022px;
  width: 415px;
  text-align: center;
  margin-top: -25px;
}
#textRow3 {
  color: rgb(41, 151, 255);
  font-size: 21px;
  font-weight: 400;
  line-height: 29.001px;
}
#textRow3sub {
  margin-left: 50px;
}

/* imagesection3 */
#macbookImage {
  background-image: url(https://www.apple.com/v/home/bc/images/promos/macbook-air-15/promo_macbook_air_15_midnight__3zojl1nanrme_large_2x.jpg);
  height: 100%;
  width: 50vw;
  background-size: cover;
  /* position: relative; */
  background-position: center;
  display: flex;

  justify-content: center;
}
#VisionProImage {
  background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-vision-pro/promo_apple_vision_pro__f4v4zp0sum2y_large_2x.jpg);
  margin-left: 12px;
  background-size: cover;
  background-position: center;
  width: 50vw;
}
#image3ContainerText {
  padding-top: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#macbookAirText {
  color: rgb(29, 29, 31);
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
  width: 430px;
  margin-bottom: -30px;
}
#impressiveText {
  color: rgb(29, 29, 31);
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  width: 430px;
}
#buttonText {
  color: rgb(0, 102, 204);
  font-size: 17px;
  margin-top: -20px;
}

#rowImageContainerFirst {
  width: 100vw;
  height: 80vh;
  margin: 12px;
  display: flex;
}
#visionProText {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 95%;
  justify-content: flex-end;
  
}
#imageLogo {
  margin-bottom: -30px;
}
#visionText {
  color: rgb(29, 29, 31);
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: -10px;
}
#visionTextSub {
  color: rgb(110, 110, 115);
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}
#visionButton {
  color: rgb(0, 102, 204);
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  margin-top: -10px;
}
/* imagesection4 */

#watchImage {
  background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-watch-series-8/promo_apple_watch_series_8_spring__d9hfvufh7hyu_large_2x.jpg);
  height: 100%;
  width: 50vw;
  background-size: cover;
  /* position: relative; */
  background-position: center;
  display: flex;
  justify-content: center;
}

#healthyText {
  color: rgb(245, 245, 247);
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  width: 430px;
  margin-top: -20px;
}
#tradeInImage {
  background-image: url(https://www.apple.com/v/home/bc/images/promos/iphone-tradein/iphone_tradein_promo__d5au3rkw5kuq_large_2x.jpg);
  height: 100%;
  width: 50vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
#tradeInText {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}
#tradeInSubText {
  color: rgb(29, 29, 31);
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: -10px;
}
#tradeInButton {
  color: rgb(0, 102, 204);
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  
}

/* imagesection5 */

#ipadProImage {
  background-image: url(https://www.apple.com/v/home/bc/images/promos/ipad-pro/promo_ipadpro_refresh__evi9utuixwuq_large_2x.jpg);
  height: 100%;
  width: 50vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
#iPadheadline {
  color: rgb(245, 245, 247);
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  width: 430px;
  
}
#superchargedText {
  color: rgb(245, 245, 247);
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  width: 430px;
  margin-top: -60px;
  margin-bottom: 30px;
}
#logom2 {
  font-size: 21px;
  text-align: center;

}
#cardImage {
  background-image: url(https://www.apple.com/v/home/bc/images/promos/apple-card/tile__cauwwcyyn9hy_large_2x.jpg);
  height: 100%;
  width: 50vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  
}
#cardText {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}
#buttonTextlast {
  color: rgb(0, 102, 204);
  font-size: 17px;
  margin-top: 20px;
}
#footerText {
  padding-left: 186.5px;
  padding-right: 186.5px;
  padding-top: 17px;
  padding-bottom: 11px;
  color: rgb(110, 110, 115);
  font-size: 12px;
  background-color: rgb(245, 245, 247);
}
#footerTopText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-bottom: 1px solid rgb(210, 210, 215);
  padding-bottom: 5px;
  
}
.Texts {
  padding-bottom: 9.6px;
}
#listItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  
  
}
.columnItems {
  list-style-type: none;
  
  
}
#footerBottomText {
  padding-top: 34px;
  padding-bottom: 21px;
}
#BottomText1 {
  border-bottom: 1px solid rgb(210, 210, 215);
  padding-bottom: 8px;
}
#BottomText2 {
  padding-top: 8px;
}
#copyRight {
  padding-right: 30px;
}
#US {
  padding-left: 255px;
  }
  .bottomMenu {
    border-right: 1px solid rgb(210, 210, 215);
    padding-right: 10px;
  }
  .columnTexts {
    padding-bottom: 10px;
  }
  .columnTextsBold {
    padding-bottom: 10px;
    color: rgb(29, 29, 31);
    font-weight: 500;
  }



